language: ruby
cache: bundler
rvm:
- 2.3.1
services:
- redis-server
script:
- bundle exec rspec
addons:
    code_climate:
        repo_token: bd632b47fe1e702f5e3f39b6a67e60f23e7aaa7194c45dbdf735539800d78d5a
